.fontCorsive {
    font-family: "Caveat", cursive;
}

.teamworkImage {
   
    height: 250px;
    width: 400px;
}

.imageCustom {
    height: 350px;
   
}

.cardCustom {
    height: 600px;
    width: 350px;
    max-width: 100%;
}


.carouselCustom {
    padding-top: 20px;
    height: 350px;
    width: 600px;
    
}

.layCustom {
    height: 450px;
    width: 70px;
}

.btCustom:hover {
    /* color:darkred; */
    font-size: 20px;
  

    /* background-color: rgb(122, 23, 89); */
}

.a-custom:hover {
    /* color:darkred; */
    font-size: 20px;
    color:darkred;
}

.btnCustom {
    height: 50px;
    width: 50px;
}
.disconnect {
    margin-left: 100px;
}
@media screen and (max-width:500px) {
    .layCustom {
        height: 280px;
        width: 40px;
    }
    .carouselCustom {
        padding-top: 10px;
        height: 280px;
        width: 400px;
    }
}

@media screen and (max-width:768px) {
    .layCustom {
        height: 280px;
        width: 40px;
    }
    .carouselCustom {
        padding-top: 10px;
        height: 280px;
        width: 400px;
    }
}

.bground {
background-image: linear-gradient( to bottom,  #fffefe , #9b1a1ada) , url("/public/storage/images/asproetna.jpg");
background-repeat: no-repeat;
background-size: cover;
}

.bground0 {
    background-image: linear-gradient( to bottom,  #e5e6e7ad , #ffffff) , url("/public/storage/images/asproetna.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}